@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #0000FF;
}

h1, h2 {
    font-family: Bubblegum Sans, sans-serif;
    text-transform: uppercase;
    color: #FF1493;
    letter-spacing: 2px;
}

/* style for logo and menu */

#navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    
}

#logo {
    padding-left: 50px;
    padding-top: 10px;
    letter-spacing: 4px;
}

#logo:hover {
    color: purple;
}


#menu {
    list-style-type: none;
    padding-right: 50px;
    padding-top: 10px;
    letter-spacing: 2px;
}

#menu .menu-items {
    display: inline-block;
    padding: 20px 10px ;
    
}

.menu-items a {
    color: 	#FF1493;
    
}

#navbar a{
    text-decoration: none;
}

#navbar a:hover {
    color: purple;
    
}

.active {
    border-bottom: 1px solid #ff0000;
}

/* style for main image and cover text */

#hero {
    width: 100%;
    display: flex;
    align-items: center;
    
    background-color: aquamarine;

}

#hero-image {
    height: 600px;
    max-width: 800px;
    width: 100%;
    padding: 10px;
/* creates zoom effect for hero image */
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates the amount of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(0.8);
    }
    to {
        transform: scale(1)
    }
}

/* style for cover text */

#cover-text {
    font-size: 2rem;
    font-family: Bubblegum Sans, sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin-left: 50px;

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

#cover-text h2 {
    color: #0000FF;
    
}
/* playdays services styling */

#services {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 50px;
    background-color: antiquewhite;
}
#services-title {
    font-size: 2.5rem;
    }
#services-list {
    font-size: 1.3rem;
    margin-left: 20px;
}

/* class days and times */

#class-times {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 255, 0, 0.3);
    
    
}

#class-times div {
    width: 100%;
    text-align: center;
    border: 2px solid purple;
}

/* styling social media icons */

#social {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    justify-content: space-around;
    list-style: none;
    
}

#social i {
    font-size: 2rem;
    padding: 20px;
}

#social i:hover {
    color: #0000FF;
}

/* gallery styling */

#gallery {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    place-items: center;
}

#gallery img {
    width: 450px;
    height: 350px;
}


