@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #0000FF;
}

h1, h2 {
    font-family: Bubblegum Sans, sans-serif;
    text-transform: uppercase;
    color: #FF1493;
    letter-spacing: 2px;
}

/* style for logo and menu */

#navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    
}

#logo {
    padding-left: 50px;
    padding-top: 10px;
}


#menu {
    list-style-type: none;
    padding-right: 50px;
    padding-top: 10px;
}

#menu .menu-items {
    display: inline-block;
    padding: 20px 10px ;
    
}

.menu-items a {
    color: 	#ff0000;
    
}

#navbar a{
    text-decoration: none;
}

#navbar a:hover {
    color: purple;
    
}

.active {
    border-bottom: 1px solid #ff0000;
}

/* style for main image and cover text */

#hero {
    width: 100%;
    display: flex;
    align-items: center;
    
    background-color: aquamarine;

}

#hero-image {
    height: 600px;
    max-width: 800px;
    width: 100%;
    padding: 10px;
/* creates zoom effect for hero image */
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates the amount of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(0.8);
    }
    to {
        transform: scale(1)
    }
}