@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #0000FF;
    background-color: #F5F5DC;
}

h1, h2 {
    font-family: Bubblegum Sans, sans-serif;
    text-transform: uppercase;
    color: #FF1493;
    letter-spacing: 2px;
}

/* style for logo and menu */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 200%;
}

.logo {
    padding-left: 50px;
    padding-top: 10px;
    letter-spacing: 4px;
}

.logo:hover {
    color: #A020F0;
    transition-duration: 2s;
}


.menu {
    list-style-type: none;
    padding-right: 50px;
    padding-top: 10px;
    letter-spacing: 2px;
    
}

.menu .menu-items {
    display: inline-block;
    padding: 20px 10px ;
}

.menu-items a {
    color: 	#FF1493;
}

.navbar a{
    text-decoration: none;
}

.navbar a:hover {
    color: #A020F0;
    transition-duration: 2s;
}

.active {
    border-bottom: 1px solid #ff0000;
}

/* making header responsive to different screen sizes */



/* style for main image and cover text */

.hero {
    width: 100%;
    display: flex;
    align-items: center;
}

/* creates zoom effect for hero image */

.hero-image {
    height: 600px;
    max-width: 800px;
    width: 100%;
    padding: 10px;

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates the amount of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(0.8);
    }
    to {
        transform: scale(1)
    }
}

/* style for cover text */

.cover-text {
    font-size: 200%;
    font-family: Bubblegum Sans, sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin-left: 50px;

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.cover-text h2 {
    color: #0000FF;
}

/* playdays services styling */

.services {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 50px;
}

.services-title {
    font-size: 250%;
}

.services-list {
    font-size: 130%;
    margin-left: 20px;
}

/* class days and times */

.class-times {
    display: flex;
    flex-direction: row;
    background-color: #00FFFF;
}

.class-times div {
    width: 100%;
    text-align: center;
    border: 2px solid #A020F0;
    color: #FF1493;
}

/* styling social media icons */

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.social i {
    font-size: 200%;
    padding: 20px;
}

.social i:hover {
    color: #0000FF;
}

/* gallery styling */

.gallery {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    place-items: center;
}

.gallery img {
    width: 450px;
    height: 350px;
}

/* making gallery responsive to differnet screen sizes */

@media (max-width: 1400px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .navbar {
        flex-direction: column;
    }
    .hero {
        flex-wrap: wrap;
    }
}

@media (max-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .class-times {
        flex-direction: column;
    }
    
}

@media (max-width: 650px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .form-cover {
        display: flex;
        flex-direction: column;
        padding: 50%px;
    }
    .submit-button {
        color: #0000FF;
    }
}

/* add styles to contact form */

.full-page {
    position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
}

.form-section {
    background: url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

    .registration {
        margin: 5% 10%;
        
    }

.registration-form {
    
    padding: 40px;
    max-width: 100%;
    background-color: rgba(60, 60, 60, 0.8);
    margin: auto 0;
    width: 100%;
    padding-top: 60px;
    color: #FF1493;
}



.registration-form > h2 {
    
    margin-bottom: 30px;
}

.text-input {
    background: transparent;
    color: #F5F5F5;
    width: 100%;
    border-radius: 2px;
    border: 2px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    font-size: 200%;
    width: 80%;
}

.text-input:hover {
    border-color: #673147;
}

.class-time {
    margin: 20px;
    margin-left: 30px;
}

.submit-button {
    display: flex;
    flex-direction: column;
    background-color: #FF1493;
    padding: 20px;
    color: #F5F5F5;
    font-size: 150%;
    margin-top: 20px;
    
}

.submit-button:hover {
    background-color: #F5F5F5;
    color: #FF1493;
}

.registration #message {
    height: 200px;
}






